ecommSite/bin/**
ecommSite/include/**
ecommSite/lib/**
ecommSite/local/**
ecommSite/pip-selfcheck.json
ecommSite/ecommSite.sublime-project
ecommSite/ecommSite.sublime-workspace
ecommSite/src/db.sqlite3
ecommSite/src/ecommSite/settings.py
ecommSite/src/ecommSite/settings.pyc
ecommSite/src/ecommSite/wsgi.py
ecommSite/src/ecommSite/wsgi.pyc
ecommSite/src/contact/migrations/**
ecommSite/src/checkout/migrations/**
ecommSite/src/profiles/migrations/**
ecommSite/src/manage.py



